@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;500;600;700&family=Palanquin:wght@100;200;300;400;500;600;700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

#app {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #000;
}

.services {
  color: #fff;
}

h1 {
  font-size: 6em;
  padding-bottom:20p;
}

h2 {
  font-size: 2.2em;
}

.not-bold {
  font-weight: normal !important;
}

.bold {
  font-weight: 900 !important;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.para {
  width: 100%;
  color: #fff;
  font-size: 1.25em;
  font-family:
    'Urbanist',
    san-serif;
}

.dark {
  font-family: 'Palanquin Dark';
}

.dark-medium {
  font-family: 'Palanquin Dark';
}

.medium {
  font-family: 'Palanquin';
}

.header {
  font-size: 7.5em;
}

.gutter {
  padding-left: 10% !important;
  padding-right: 10% !important;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    place-items: center;
  }

  #app {
    grid-template-columns: 1fr 1fr;
    padding: 0;
    background-color: #000;
    width: 100%;
  }
}

@media (max-width: 932px) {
  h1 {
    font-size: 5em;
    line-height: 1;
  }

  h2 {
    font-size: 2em;
    line-height: 1;
  }

  .header {
    font-size: 3em;
  }

  .gutter {
    padding-left: 0% !important;
    padding-right: 0% !important;
  }

  h3 {
    font-size: 1.5em;
    color: #fff;
    font-weight:bold;
    padding-bottom:25px;
  }
}

